@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}